.alert {
	padding: 28px 15px 0 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	position: relative;
	strong{
		margin-left: 66px;
		font-size: 1.1em;
	}
	i{
		font-size: 3em;
		position: absolute;
		left: 18px;
		top:15px;
	}
}

.alert-info {
	color: #31708f;
	a{
		color: #31708f;
	}
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.alert-success {
	color: #3c763d;
	a{
		color: #3c763d;
	}
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
.alert-warning {
	color: #8a6d3b;
	a{
		color: #8a6d3b;
	}
	background-color: #fcf8e3;
	border-color: #faebcc;
}
.alert-danger {
	color: #a94442;
	a{
		color: #a94442;
	}
	background-color: #f2dede;
	border-color: #ebccd1;
}
